body {
    --ui-base: rgb(255, 255, 255);
    --primary: rgb(29, 183, 84);
    --danger: rgb(205, 26, 43);
    font-family: 'proxima-nova', sans-serif;
    --background: var(--gray-dark);
    --gray-lighter: rgb(83, 83, 83);
    --gray-light: rgb(64, 64, 64);
    --gray: rgb(40, 40, 40);
    --gray-dark: rgb(24, 24, 24);
    --gray-darker: rgb(18, 18, 18);
    --transparent: rgba(255, 255, 255, 5%);
    color: var(--text);
    margin: 0;
    max-width: 400px;
    max-height: 150px;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: var(--gray);
    border-left: solid 1px var(--gray-light);
}
::-webkit-scrollbar-thumb {
    background: var(--gray-lighter);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--gray-lighter);
}

button {
    border: 0;
    padding: 0.7em 2em;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    background: none;
    margin: 0.15em;
    transition: all 20ms linear;
    color: var(--text);
    width: fit-content;
    user-select: none;

    &:focus-visible {
        outline: none;
        transform: scale(1.05);
        filter: contrast(1.05);
        box-shadow: 0px 0px 5px 0px var(--gray-lighter);
    }

    &:active:focus {
        transform: scale(1);
        filter: contrast(0.92);
    }
    &:hover {
        &:not(.flat, .inverted) {
            background: var(--transparent);
        }
        transform: scale(1.06);
        filter: contrast(1.05);
    }
    &.flat {
        background: var(--primary);
    }
    &.inverted {
        background: var(--text);
        color: var(--background);
    }
    &.outlined {
        border: solid 1px var(--text);
    }

    &.floating {
        position: fixed;
        bottom: 2.5em;
        right: 2.5em;
        padding: 1.5em;
        transition: all 100ms linear;

        &.disabled {
            padding: 0;
            right: 4em;
            bottom: 4em;
            margin: 0;

            * {
                display: none;
            }
        }
    }
}

a {
    filter: contrast(0.7);
    transition: all 20ms linear;
    color: var(--text);
    &.uppercase {
        text-transform: uppercase;
    }

    &:hover {
        filter: contrast(1);
        &.underlined {
            text-decoration: underline;
        }
    }
    text-decoration: none;
}

input[type='text'] {
    color: var(--text);
    background: transparent;
    border: none;
    margin: 0.15em;
    border-radius: 30px;
    padding: 0.7em 1.2em;
    background: var(--text);
    color: var(--background);

    &:focus-visible {
        outline: none;
    }

    &.slim {
        padding-left: 0.5em;
        background: transparent;
        color: var(--text);
        border-radius: 0;
        border-bottom: solid 0.1em var(--text);
    }
}

select {
    font-size: 1em;
    color: var(--text);
    background: var(--gray-dark);
    padding: 0.475em;
    border-radius: 5px;
    border: none;
    user-select: none;
    opacity: 0.9;
    cursor: pointer;

    &:focus-visible {
        outline: none;
    }
}

nav {
    display: flex;
    height: 3em;
    background: var(--gray-light);
    align-items: center;

    .nav-item {
        margin: 0 0.25em;

        &.full {
            width: 100%;
        }
    }
}

.svg-inline--fa {
    filter: drop-shadow(0.1em 0.1em 0.3em black);
    opacity: 0.6;
    &:hover {
        opacity: 1;
        transition: all 250ms ease;
    }

    &.primary {
        opacity: 1;
        &:hover {
            transform: scale(1.05);
            transition: all 250ms ease;
        }
    }
}
